.modalHeader{
    background-color: #143a5f; 
    color: #fff!important;
}

.boton {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 0.375rem; /* rounded-md */
  background-color: #4f46e5; /* bg-indigo-600 */
  padding: 0.375rem 0.75rem; /* py-1.5 px-3 */
  font-size: 0.875rem; /* text-sm */
  line-height: 1.5rem; /* /6 */
  font-weight: 600; /* font-semibold */
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-xs */
  outline: none;
}

.boton:hover {
  background-color: #6366f1; /* hover:bg-indigo-500 */
}

.boton:focus-visible {
  outline-width: 2px; /* focus-visible:outline-2 */
  outline-offset: 2px; /* focus-visible:outline-offset-2 */
  outline-color: #4f46e5; /* focus-visible:outline-indigo-600 */
}

.small-toggle {
  transform: scale(0.75);
  margin: 0; /* Opcional: ajusta el espaciado */
}

#datos {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px!important;
}

#datos td, #datos th {
  border: 1px solid #ddd;
  padding: 8px;
}

#datos tr:nth-child(even){background-color: #f2f2f2;}

#datos tr:hover {background-color: #ddd;}

#datos th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #143a5f;
  color: white;
}

.full-width-table {
  width: 100%;
  overflow: auto;
}

mat-card {
  margin-top: 16px;
}

.text-right {
  text-align: right!important;
}